.button {
    
    &__item {
        padding: 15px 0px;
        border: 2px solid #3f85ed;
        background-color: transparent;
        color: white;
        border-radius: 30px;
    }
    &__item:hover {
        background-color:#3f85ed;
    }
}

.max {
    width: 100%;
}