.register {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__modal {
        width: 350px;
        height: auto;
        border-radius: 10px;
        padding: 30px;
        border: 1px solid rgb(48, 48, 48);
        margin-top: 30px;

        .modal__form {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .form__section {
                display: flex;
                flex-direction: column;

                .section__input {
                    background-color: transparent;
                    border: 1px solid white;
                    padding: 3px 10px;
                    margin: 5px;
                }
                .section__input:focus {
                    outline: 1px solid orange;
                }
            }
        }
        .form__links {
            margin-top: 15px;

            .links__link {
                color: white;
            }
        }
    }
}