.login {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    &__modal {
        width: 350px;
        height: auto;
        border-radius: 10px;
        padding: 30px;
        border: 1px solid rgb(48, 48, 48);

        .modal__form {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .form__section {
                display: flex;
                flex-direction: column;
            }
        }
        .modal__link {
            display: flex;
            justify-content: space-around;
            margin-top: 15px;

            .link__item {
                color: white;
            }
        }
    }
}