.input {
    display: flex;
    flex-direction: column;
    border: 2px solid #dee2e6;
    padding: 8px 12px;
    border-radius: 10px;

    &__sub {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .sub__field {
            background-color: transparent;
            border: none;
            margin: 5px 0px 5px 0px;
            outline: none;
            width: 100%;
        }
        .sub__field::placeholder {
            font-size: 15px;
            color: #b4bcc2;
        }
    }
    &__label {
        font-size: 15px;
        color: #b4bcc2;
        width: min-content;
        background-color: white;
        padding: 0px 5px;
    }
}

.error {
    border: 1px solid red;
}
.valid {
    border: 1px solid green;
}
.active .input__label{
    margin-top: -18px;
}