.interaction-lernset-view {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__action {
        background-color: #0e1014;
        margin-bottom: 30px;
        position: sticky;
        top: 61px;
        padding-top: 30px;
        z-index: 30000;

        .action__label {
            color: #b4bcc2;
        }
        .action__input {
            background-color: transparent;
            outline: none;
            color: white;
            border: none;
            border-bottom: 1px solid #4c4d4fba;
            width: 100%;
            font-size: larger;
            height: 30px;
            margin-bottom: 20px;
        }
    }

    &__word-set {
        margin-bottom: 30px;

        .word-set__container {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 80px 30px 20px 30px;
            width: 600px;
            display: flex;
            gap: 30px;
            margin-bottom: 10px;
            background-color: #313c4b63;

            .container__input {
                background-color: transparent;
                outline: none;
                color: white;
                border: none;
                border-bottom: 1px solid #4c4d4fba;
                width: 100%;
                height: 30px;
            }
            .container__delete {
                position: absolute;
                top: 20px;
                right: 20px;
                background-color: transparent;
                border: none;
                font-size: 20px;
                color: rgb(238, 83, 83);
            }
            .container__label {
                color: #b4bcc2;
            }
            .container__count {
                position: absolute;
                top: 20px;
                left: 20px;
                font-weight: 600;
                margin: 0;
            }
        }
    }
    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}